[[extend 'layout.html']]

<div class="section ml-6 mr-6">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child ">
                <article class="tile is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image">
                                <br>
                                <figure class="image is-3by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Raghav Lodha</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <div class="tile is-child ">
                <article class="tile  box is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image">
                                <br>
                                <figure class="image is-3by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Waylon Peng</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>


        <div class="tile is-4 is-vertical is-parent ">

            <div class="tile is-child pt-6">
                <article class="tile is-child notification has-background-white">
                    <div class="content">
                        <div class="card has-background-warning card-header-color: is-warning">

                            <div class="card-content ">

                                <div class="content">
                                    <p class="title is-3"> Meet the SlugTutor Team!</p>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum

                                    <br>

                                </div>
                            </div>

                        </div>
                    </div>
                </article>

            </div>

            <div class="tile is-child ">
                <article class="tile is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image">
                                <br>
                                <figure class="image is-3by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Kiara Winslow</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>

        <div class="tile is-4 is-vertical is-parent ">

            <div class="tile is-child">
                <article class="tile is-child notification is-warning ">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image">
                                <br>
                                <figure class="image is-3by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Nathaniel Lee</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="tile is-child ">
                <article class="tile is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image">
                                <br>
                                <figure class="image is-3by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Francis Brokering</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>


    </div>

</div>



