[[extend 'layout.html']]

<div class="section ml-6 mr-6">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">

            <div class="tile is-child">
                <article class="tile is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning pb-1">
                            <div class="card-image pt-6">
                                <figure class="image is-4by3">
                                    <img src="https://i.postimg.cc/QMvGtVQn/Raghav-Pic.jpg">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <button class="button is-link is-pulled-right"
                                                onclick="location.href='https://www.linkedin.com/in/raghavlodha/'">
                                                <span class="icon">
                                                    <i class="fa fa-linkedin"></i>
                                                </span>
                                            </button>
                                        <p class="title is-4">Raghav Lodha</p>
                                        <p class="subtitle is-6">Pronouns</p>
                                    </div>
                                </div>

                                <div class="content">
                                    I am Raghav Lodha, a senior at UCSC studying CS. I am from India and will be moving
                                    to DC after graduating this June 2022. I have interest in A.I. and M.L. Please feel
                                    free to connect with me on Linkedin


                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="tile is-child">
                <article class="tile box is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning pt-4">
                            <div class="card-image pt-3">
                                <figure class="image is-3by3">
                                    <img src="https://i.postimg.cc/J4QLqr8G/unknown.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <button class="button is-link is-pulled-right"
                                                onclick="location.href='https://www.linkedin.com/in/waylonpeng/'">
                                                <span class="icon">
                                                    <i class="fa fa-linkedin"></i>
                                                </span>
                                        </button>
                                        <p class="title is-4">Waylon Peng</p>
                                        <p class="subtitle is-6">He/Him</p>
                                    </div>
                                </div>
                                <br>
                                <div class="content">
                                    I'm a 4th year Computer Science and Mathematics student at UC Santa Cruz. I interned
                                    for two summers at Google, working on DevOps and infrastructure. I'm passionate about
                                    distributed systems and cybersecurity, and I'll be joining Nuro as a Security Engineer
                                    after graduation.
                                    <br>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>

        <div class="tile is-4 is-vertical is-parent ">

            <div class="tile is-child pt-6">
                <article class="tile is-child notification has-background-white">
                    <div class="content">
                        <div class="card has-background-warning card-header-color: is-warning">
                            <br>
                            <div class="card-content ">
                                <img class="image is-16by16" height="200px" src="https://i.postimg.cc/7hFfnxrB/ST-Logo-removebg-preview.png" >

                                <div class="content">
                                    <p class="title is-3 has-text-centered">Meet the Team!</p>
                                </div>

                                <div class="content has-text-centered">
                                    We developed SlugTutors in hopes that students can use this platform as an
                                    additional resource to find help and success in their classes!
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>

            </div>

            <div class="tile is-child">
                <article class="tile is-child notification is-warning">
                    <div class="content ">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image pt-4">
                                <figure class="image is-3by3">
                                    <img src="https://i.postimg.cc/DZtxt36g/IMG-5574.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <button class="button is-link is-pulled-right"
                                                onclick="location.href='https://www.linkedin.com/in/kiarawinslow'">
                                            <span class="icon">
                                                <i class="fa fa-linkedin"></i>
                                            </span>
                                        </button>
                                        <p class="title is-4">Kiara Winslow</p>
                                        <p class="subtitle is-6">She/Her</p>

                                    </div>
                                </div>

                                <div class="content">
                                    I am a rising Senior at UCSC, double majoring in Computer Science and Cognitive Science
                                    with an emphasis in AI & Human-Computer Interaction. This summer is will return to
                                    work as a Lead Teachers Assistant at Girls Who Code for their Summer Immersion Program.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>

        <div class="tile is-4 is-vertical is-parent ">

            <div class="tile is-child">
                <article class="tile is-child notification is-warning ">
                    <div class="content">
                        <div class="card card-header-color: is-warning pb-1">
                            <div class="card-image">
                                <figure class="image is-200x200 pt-4">
                                    <img src="https://i.postimg.cc/7YJHn86z/Nathaniel-Headshot.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <button class="button is-link is-pulled-right">
                                                <span class="icon">
                                                    <i class="fa fa-linkedin"></i>
                                                </span>
                                            </button>
                                        <p class="title is-4">Nathaniel Lee</p>
                                        <p class="subtitle is-6">Pronouns</p>

                                    </div>
                                </div>

                                <div class="content">
                                    I'm a 4th-year computer science student at UC Santa Cruz and have had prior
                                    experience as a Software Engineer Intern at Bright Health and Samsung. After
                                    graduation, I'll be joining Meta as a Software Engineer in Menlo Park.

                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="tile is-child pt-6 mt-4">
                <article class="tile  box is-child notification is-warning">
                    <div class="content">
                        <div class="card card-header-color: is-warning">
                            <div class="card-image pt-4">
                                <figure class="image is-1by1">
                                    <img src="https://i.postimg.cc/sgy29BYj/Screen-Shot-2022-05-27-at-6-12-37-PM.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <!-- www.linkedin.com/in/francis-brokering-->
                                    <div class="media-content">
                                        <button class="button is-link is-pulled-right"
                                                onclick="location.href='https://www.linkedin.com/in/francis-brokering/'">
                                            <span class="icon">
                                                <i class="fa fa-linkedin"></i>
                                            </span>
                                            </button>
                                        <p class="title is-4">Francis Brokering</p>
                                        <p class="subtitle is-6">Pronouns</p>
                                    </div>
                                </div>

                                <div class="content">
                                    I am in my 3rd year at UC Santa Cruz majoring in Computer Engineering. I’ve interned
                                    at NASA for a total of nine months and have another internship lined up with Rakuten
                                    Japan this summer where I’ll be developing drone software. Feel free to connect with
                                    me on LinkedIn.
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>


    </div>

</div>
